@font-face {
	font-family: 'MOZART_0';
	src: url('MOZART_0.ttf') format('truetype');
}
body {
    color: white;
	font-family: 'MOZART_0', Tahoma;
	font-size: 1.875em;
	position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
}


fade {
  -webkit-animation-delay: 1.7s;
  -moz-animation-delay: 1.7s;
  animation-delay: 1.7s;
}

